*{
    font-family: "Poppins", sans-serif;
    margin: 0;
}
body{
    background-color: pink;
}
header{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 50px auto;
} 

.btn {
    position: relative;
    background-color: #ad2efc;
    color: white;
    border: none;
    padding: 6px 16px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
  }

  .btn:hover {
    background-color: #a929cd;
    transform: translateY(-1px);
    transition: transform 0.3s ease;
  }

  .btn::before,
  .btn::after {
    content: "";
    position: absolute;
    background: white;
    transition: all 0.3s linear;
  }


  .btn::before {
    top: 0;
    left: 0;
    height: 2px;
    width: 0;
  }

  .btn::after {
    top: 0;
    left: 0;
    width: 2px;
    height: 0;
  }

  .btn:hover::before {
    width: 100%;
  }

  .btn:hover::after {
    height: 100%;
  }


  .btn span::before,
  .btn span::after {
    content: "";
    position: absolute;
    background: white;
    transition: all 0.3s linear;
  }

  .btn span::before {
    bottom: 0;
    right: 0;
    height: 2px;
    width: 0;
  }

  .btn span::after {
    bottom: 0;
    right: 0;
    width: 2px;
    height: 0;
  }

  .btn:hover span::before {
    width: 100%;
  }

  .btn:hover span::after {
    height: 100%;
  }

  #highlight{
    width: 70%;
    margin: 50px auto ;
  }
  #highlight > h2{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    text-shadow: 2px 2px 8px #ce5656;
    margin-bottom: 25px; 
  }
  #highlight > p{
    color:rgb(105, 101, 101);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  #buy-now-btn{
    display: flex;
    justify-content: center;
  }

  .iphone-image{
    width: 70%;
    margin: 50px auto;
  }
  .iphone-image img{
    width: 100%;
  }
  .search-section{
    width: 70%;
    margin: 30px auto;
  }
  .search-section > h2{
    text-align: center;
    margin-bottom: 15px;
  }
  .search-container{
    width: 50%;
    margin: 0 auto;
    border-radius: 8px;
    padding: 10px;
    background-color: rgb(245, 241, 211);
    display: flex;
  }
  .search-bar{
    width: 70%;

  }
  .search-btn{
    width: 30%;
    display: flex;
    justify-content: end;
  }
  .search-bar > input[type="text"]{
    padding: 15px;
    border:none;
    outline:none;
    width:60%;
    background-color: rgb(245, 241, 211);
  }
  .card-section{
    width: 80%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

  }
  .card{
    border:1px solid gray;
    border-radius: 10px;
    padding: 20px;
  }
  .card-image{
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .card-image:hover{
    background-color: rgb(196, 186, 186);
    transition: background-color 0.5s ease-in-out;
  }
  .card-image img{
    width: 100%;
    height: 300px;
  }
  .card-title
{
   text-align: center; 
   font-size: 30px;
   margin-bottom: 20px;
  
}

.card-description{
    text-align: center;
    margin-bottom: 20px;
}
.card-price{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 20px;
}
.card-btn{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}